<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bored Art</title>
  <link rel="stylesheet" href="/styles/room.css">
</head>
<body>
  <div id="board_container" class="container">
    <div class="controls">
      <input type="color" id="colorPicker">
      <input type="range" id="lineWidth" min="1" max="10" value="5">
      <button id="clearButton">Clear</button>
      <button id="eraserButton">Eraser</button>
      <button id="penButton">Pen</button>
    </div>
    <canvas id="whiteboard"></canvas>
    <div id="promptDiv">
      <!-- Game progression container -->
    </div>
    <div id="displayDiv">
      <!-- Display game progress -->
    </div>
  </div>
  <div id="chats_container" class="container">
    <ul id="chats"></ul>
    <form id="chat" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
  </div>
  <div id="members_container" class="container"></div>
  <button id="startGame">start game</button>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>const socket = io();</script>
<script src="/scripts/users.js" defer></script>
<script src="/scripts/chat.js" defer></script>
<script src="/scripts/game.js" defer></script>
</html>
